body{margin: 0;
    padding: 0;
    font-family: 'work Sans', sans-serif;
    
}
/* header style starts */
header{
    width: 1920px;
    height: 1400px;
    background:  rgba(255, 144, 14, 0.1);
}
/* nav style start */
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.architects{
    font-size: 45px;
    margin-top:50px;
    margin-left:240px;
}
.manu-ber{
    display: flex;
    flex-direction: row;
    gap:50px;
    margin-top:70px;
    margin-right:228px;
    width: 501px;
    height: 26px;
    font-size:18px;
}
.manu-ber a{
text-decoration: none;
color:rgb(22, 12, 12);
}
/* nav style end */
/* banner style start */
.banner-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner{ 
}
.banner-title{
    font-size: 64px;
    text-align: center;
}
.banner-discription{
    text-align: center;
}
.banner-button{
    background-color:#FF900E;
    margin:32px 870px 50px;
    padding: 20px 25px;
    border-radius: 10px;
}
.banner-img{
    margin-bottom: 45px;
}
/* banner style end */
/***************
header style end
 ****************/
/* main section style start */
/* team section start */
.team-container{
    display: flex;
    margin:85px 301px 130px;
}
.team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:24px;
    margin-top:85px;
}
.team-praghrap{
    align-items: center;
    width: 545px;
    height: 304px;
    margin-top: 280px;
    margin-left: 73px;
    margin-right: 200px; 
   
}
.team-title{
    font-size:54px;
    line-height:45px;
}
.team-praghrap h3 .a{
    font-weight: 800;
    color:rgb(130, 88, 197);
    font-size: 35px;
}
.team-praghrap h3 .b{
    font-weight: sans-serif;
    font-size: 35px;
}
.team-praghrap h3 .c{
    font-weight: 800;
    font-size: 30px;
    color:#FF900E;
}
.team-discription{
    margin-top:24px;
    font-size:16px;
    line-height:20px;
    color: #727272;
}
.team-button{
width:180px;
height:64px;
background-color:#FF900E;
color:#FFFFFF;
border-radius:20px;
font-size:20px;
padding:20px 25px;
margin-top:53px;
}
/* team section end */
/* experience section style :start */
.experience-container{
width: 1440px;
height: 1000px;
margin:130px 240px;
display:flex;
gap:54px;
}
.experience-left{

}
.vi{
    display:flex;
    justify-content: center;
    align-items: center;
}
.verticle{
    background-color: #FF900E;
    width: 10px;
    height: 130px;
}
.left-title{
    font-size:45px;
    margin-left:22px;
}
.praghraph{
    font-size:16px;
    color:#727272;
    line-height: 26px;
}
.experience-article{
width:586px;
height:744px;
padding: 35px;
background:#FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 8px;
gap:20px;
}
.article{
width:586px;
height:171px;
}
.experience-right{
    
}
.architect-img{
    position: relative;
}
.experience-year{
width:300px;
height:150px;
position:absolute;
left: 0;
bottom: 0px;

z-index: 1;
background-color:#FF900E;
text-align: center;
padding-top:20px;
border-radius: 5px;
}
.experience-year>h2{
    font-size: 30px;
}
/* experience section style :end */
/* some facts style start */
.some-container{
    width: 1440px;
    height: 600px;
    margin:0px 240px;
}
.some-facts{

}
.some-title{
    font-size: 45px;
    margin-top: 200px;
}
.some-discription{
font-size: 16px;
width: 542px;
height: 52px;
margin-top: 24px;
line-height: 26px;
}
.icon-container{
    display: flex;
    justify-content: space-around;
    margin-top:100px;

    
}
.icon-img{
    width: 150px;
    height: 150px;
    border-color: aliceblue;
    border: 2px solid #FF900E;
    text-align: center;
    padding:40px 60px;
    transform:scale(1.2);
}

.icon-img:hover{
    width: 160px;
    height: 160px;
    border:1px solid blueviolet;
    background-color: #FF900E;
}
/* some facts style end */
/* sponsors style start */
.sponsor-container{
    width: 1440px;
    height: 400px;
    margin:0px 240px;
}
.sponsors{
   display:grid;
   grid-template-rows: repeat(2, 1fr);
   justify-content: center;
   align-items: center;

}
.sponsor-pare{
text-align: center;
}
.sponsor-title{
    
}
.sponsor-discription{

}
.sponsor-container{
display: flex;
justify-content: space-around;
margin-top:50px;
}
.sponsor-name{

}
.icon-img img{
    -webkit-filter: grayscale(100%);
    filter:grayscale(100%);
} 
/* sponsors style end */
/* footer section style start */
footer{
   background-color: #b19575;
    text-align: center;
    font-size: 20px;
    margin: 0px 240px;
    padding:40px 410px;
}
@media screen and (max-width:576px) {

nav{
    width: 100%;
}
.architects{
margin-top:20px;
margin-left:22px;
font-size: 14px;
}
}
@media screen and (min-width:576px) and (max-width:967px) {
    
}