body{margin: 0;
    padding: 0;
    font-family: 'work Sans', sans-serif;
    
}
/* header style starts */
header{
    width: 1920px;
    height: 1400px;
    background:  rgba(255, 144, 14, 0.1);
}
/* nav style start */
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.architects{
    font-size: 45px;
    margin-top:50px;
    margin-left:240px;
}
.manu-ber{
    display: flex;
    flex-direction: row;
    gap:50px;
    margin-top:70px;
    margin-right:228px;
    width: 501px;
    height: 26px;
    font-size:18px;
}
.manu-ber a{
text-decoration: none;
color:rgb(22, 12, 12);
}
/* nav style end */
/* banner style start */
.banner-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner{ 
}
.banner-title{
    font-size: 64px;
    text-align: center;
}
.banner-discription{
    text-align: center;
}
.banner-button{
    background-color:#FF900E;
    margin:32px 870px 50px;
    padding: 20px 25px;
    border-radius: 10px;
}
.banner-img{
    margin-bottom: 45px;
}
/* banner style end */
/***************
header style end
 ****************/
/* main section style start */
/* team section start */
.team-container{
    display: flex;
    margin:85px 301px 130px;
}
.team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:24px;
    margin-top:85px;
}
.team-praghrap{
    align-items: center;
    width: 545px;
    height: 304px;
    margin-top: 280px;
    margin-left: 73px;
    margin-right: 200px; 
   
}
.team-title{
    font-size:54px;
    line-height:45px;
}
.team-praghrap h3 .a{
    font-weight: 800;
    color:rgb(130, 88, 197);
    font-size: 35px;
}
.team-praghrap h3 .b{
    font-weight: sans-serif;
    font-size: 35px;
}
.team-praghrap h3 .c{
    font-weight: 800;
    font-size: 30px;
    color:#FF900E;
}
.team-discription{
    margin-top:24px;
    font-size:16px;
    line-height:20px;
    color: #727272;
}
.team-button{
width:180px;
height:64px;
background-color:#FF900E;
color:#FFFFFF;
border-radius:20px;
font-size:20px;
padding:20px 25px;
margin-top:53px;
}
/* team section end */
/* experience section style :start */
.experience-container{
width: 1440px;
height: 700px;
margin:130px 240px;
display:flex;
gap:54px;
}
.experience-left{

}
.vi{
    display:flex;
    justify-content: center;
    align-items: center;
}
.verticle{
    background-color: #FF900E;
    width: 10px;
    height: 130px;
}
.left-title{
    font-size:45px;
    margin-left:22px;
}
.praghraph{
    font-size:16px;
    color:#727272;
    line-height: 26px;
}